files = [arrows, currency_symbols, box_drawing, combining_diacritical_marks.csv, emojis, cyrillic, greek_and_coptic, hebrew, ipa_extensions, latin-1, latin_extended-a, latin_extended-b, latin_extended-c, latin_extended-d, mathematical_operators]
keybinding-copy = Alt+c
keybinding-type = Alt+t
keybinding-clipboard = Alt+v
keybinding-unicode = Alt+Shift+t
keybinding-copy-unicode = Alt+Shift+c

