files = [emojis, arrows, box_drawing, combining_diacritical_marks.csv, cyrillic, greek_and_coptic, ipa_extensions, latin-1, latin_extended-a, latin_extended-b, latin_extended-c, latin_extended-d, mathematical_operators]
