background_color                          {{bg}}
dark_mode_background_color                {{fg}}

ui_background_color                       {{bg}}
ui_text_color                             {{fg}}
status_bar_color                          {{bg}}
status_bar_text_color                     {{fg}}

text_highlight_color                      {{accent}}
search_highlight_color                    {{accent}}
link_highlight_color                      {{blue}}
synctex_highlight_color                   {{magenta}}

page_separator_color                      {{bg}}

custom_background_color                   {{bg}}
custom_text_color                         {{fg}}
