[Unit]
Description="Run rclone-gdrive.service on boot and every 60 mins relative to activation time"

[Timer]
OnBootSec=20sec
OnUnitActiveSec=60min
Unit=rclone-gdrive.service

[Install]
WantedBy=multi-user.target
